@media screen and (max-width:576px){
    nav,.third-first,.forth{
        flex-direction: column;
    }
    .nav-second {
        flex-direction: column;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    
    .nav-second li {
        list-style: none;
        margin: 15px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }
    .cover {
        flex-direction: column;
    }
    .cover-first {
        width: 100%;
        background-color: rgb(253, 244, 253);
        position: relative;
        left: 8%;
        padding: 15px;
    }
    .cover-second{
        position: relative;
        left: 12%;
    }
    .cover-first h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 2rem;
        text-transform: uppercase;
        padding-top: 1rem;
    }
    
    .cover-first h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
        background: linear-gradient(rgb(253, 81, 167), rgb(143, 5, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .cover-first button {
        padding: 8px 18px;
        border: none;
        border-radius: 50px;
        margin-top: 1rem;
        text-transform: uppercase;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .third h2{
        font-size: 1.3rem;
        position: relative;
        right: 1rem;
    }
    .third p{
        font-size: 10px;
        color: rgb(161, 159, 159);
    }
    .forth {
        text-align: center;
    } 
    .kitty {
        position: relative;
        bottom: 3rem;
        left: 5rem;
    }
    .forth-second{
        padding-top: 2rem;
        position: relative;
        right: 1.2rem;
    }
    .forth-second p{
        color: rgb(161, 159, 159);
    }
    .fivth-first{
        display: grid;
        grid-template-areas: 'div div';
    }
   
    .fivth {
        padding: 5px 200px;
    }
   
    .fivth-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        font-family: 'Poppins', sans-serif;
        font-size: 9px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }
    .fivth-box p{
        padding: 10px;
    }
    .size{
        position: relative;
        right: 6rem;
    }
    .footer-first{
        display: grid;
        grid-template-areas: 'p p p';
        position: relative;
        left: 5rem;
    }
    .footer-second{
        display: grid;
        grid-template-areas: 'li li li';
        position: relative;
        left: 95px;
    }
    .footer-third{
        display: grid;
        grid-template-areas: 'p p ';
        position: relative;
        left: 6rem;
    }
    .footer-forth{
        position: relative;
        left: 6.5rem;
        color: gray;
    }

}