* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(37, 37, 37);
    padding: 20px 100px;
}
.nav-first{
    display: flex;
}

.nav-first h2,
.third h2 {
    padding-left: 22px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 1.8rem;
}

.nav-first h2 span {
    color: rgb(253, 81, 167);
}

.nav-second {
    display: flex;
    align-items: center;
}

.nav-second li {
    list-style: none;
    margin: 0px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.nav-second button {
    background-color: rgba(219, 222, 224, 0.952);
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
}

.youtube {
    align-items: center;
    margin-left: 8px;
    color: red;
    font-size: 20px;
}

.tiktok {
    align-items: center;
    margin-left: 8px;
    font-size: 17px;
}

.cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(253, 244, 253);
    padding: 5px 100px;
}
.cover-second{
    position: relative;
    top: 10px;
}

.cover-first {
    width: 50%;
}


.cover-first h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.cover-first h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4.2rem;
    background: linear-gradient(rgb(253, 81, 167), rgb(143, 5, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cover-first li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    padding-bottom: 8px;
    color: rgb(68, 68, 68);
}

.cover-first button {
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    margin-top: 1rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.btn {
    background-color: rgb(253, 81, 167);
}

.atn {
    background-color: rgb(64, 201, 255);
}

.third {
    padding: 5px 100px;
    text-align: center;
    margin-top: 4rem;
}

.third-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 24px;
}

.third-first .third-box,
.third p {
    margin: 15px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    padding-bottom: 8px;
    color: rgb(83, 82, 82);
    cursor: pointer;
}

.third h2 span {
    background: linear-gradient(rgb(253, 81, 167), rgb(143, 5, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.third-box img::before:hover {
    background-color: rgb(0, 0, 0);
    z-index: 1000;
}

.forth-first {}

.forth {
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kitty {
    position: relative;
    bottom: 12rem;
    left: 25rem;
}

.forth-second {
    margin-left: 3rem;
    position: relative;
    bottom: 4rem;
}

.forth-second h2 {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 23px;
    font-size: 1.8rem;
}

.forth-second h2 span {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgb(253, 81, 167), rgb(143, 5, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.forth-second p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    padding-bottom: 8px;
    color: rgb(68, 68, 68);
}

.fivth {
    padding: 5px 100px;
    margin-bottom: 3rem;
}

.fivth-first {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fivth-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.fivth-box p {
    padding-left: 15px;
}

.fivth-first :hover {
    border: 2px solid rgb(252, 51, 151);
    padding: 5px;
    border-radius: 50px;
}

.fivth-first :hover p {
    color: rgb(252, 51, 151);

}

.fivth-box :hover {
    border: none;
}

.footer {
    text-align: center;
    padding: 80px 100px;
    align-items: center;
    background-color: rgb(0, 0, 46);
    color: rgb(224, 224, 224);
    cursor: g;
}
.footer .nav-first{
    position: relative;
    left: 37%;
}
.footer-first{
    position: relative;
    left: 26%;
    padding: 15px;

}
.footer-second{
    position: relative;
    left: 36%;
    cursor: pointer;
}
.footer-third{
    position: relative;
    left: 30%;
}
.footer-forth{
    position: relative;
    left: 2%;
}

.footer-first ,.footer-second,.footer-third{
    display: flex;
}
.footer-second{
    list-style: none;
    padding: 15px;
}
.footer-second li{
    margin: 8px;
    font-size: 2rem;
    color: white;
}

.footer-first p{
    margin: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.footer-third p{
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    color: gray;

}
.footer-forth p{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: rgb(57, 72, 104);
    letter-spacing: 0.5px;
}